@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}

@layer base {
  :root {
    --color-heading: #000000;
    --color-text: #2c2c2c;
    --background-main: #fffaf4;
    --background-card: #f8f1e59d;
    --border-card: #c4bcab;
    --accent-color: #dac0a3;
    --selection-background: var(--color-heading);
    --selection-text: var(--background-main);
    --text-h1: clamp(3.025rem, 7.334vw + 1.306rem, 6rem);
    --text-h2: clamp(1.938rem, 1.387vw + 1.612rem, 2.5rem);
    --text-h3: clamp(1.25rem, 0.616vw + 1.106rem, 1.5rem);
    --text-p: clamp(1rem, 0.616vw + 0.856rem, 1.25rem);
  }

  .dark {
    --color-heading: #fff;
    --color-text: #ddd;
    --background-main: #050505;
    --background-card: #101010;
    --border-card: #f3f5f726;
    --selection-background: var(--color-heading);
    --selection-text: var(--background-main);
  }

  .article {
    --text-h1: clamp(1.75rem, 5.089vw + 0.557rem, 3rem);
    --text-h2: clamp(1.25rem, 2.036vw + 0.773rem, 1.75rem);
    --text-h3: clamp(1.25rem, 3.053vw + 0.534rem, 2rem);
    --text-p: clamp(1rem, 1.018vw + 0.761rem, 1.25rem);
    --text-h1-mb: 2rem;
    --text-h2-mt: 2.5rem;
    --text-h3-mt: 1.5rem;
    --text-p-mt: 1rem;
    --letter-spacing: 0.8px;
    --img-w: 100%;
    --img-radius: 8px;
    --img-fit: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    color: var(--color-heading);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: var(--text-h1);
    margin-bottom: var(--text-h1-mb);
  }

  h2 {
    font-size: var(--text-h2);
    margin-top: var(--text-h2-mt);
  }

  h3 {
    font-size: var(--text-h3);
    margin-top: var(--text-h3-mt);
  }

  blockquote,
  table,
  img,
  p,
  pre,
  ul,
  hr {
    margin-top: var(--text-p-mt);
  }

  ol,
  ul {
    margin-top: 0.5rem;
  }

  p {
    letter-spacing: var(--letter-spacing);
  }

  p,
  li,
  td {
    color: var(--color-text);
  }

  p,
  li {
    font-size: var(--text-p);
    font-family: "Lato", sans-serif;
    letter-spacing: 0.03em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  li {
    padding-left: 1rem;
  }

  hr {
    border: 1.5px solid var(--border-card);
  }

  img {
    width: var(--img-w);
    border-radius: var(--img-radius);
    object-fit: var(--img-fit);
  }

  blockquote {
    font-style: italic;
    padding: 20px 17px 20px 1rem;
    border-left: 4px solid var(--accent-color);
    background-color: var(--background-card);
  }

  blockquote p {
    margin: 0;
  }

  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid var(--border-card);
  }
  th,
  td {
    color: var(--color-text);
    padding: 10px;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #999 #222;
}

/* Chrome and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 14px;
  border: 3px solid #222;
}
